@import "/scss/_reset.scss";
@import "/scss/_variable.scss";
@import "/scss/_mixins.scss";
@import "/scss/_typo.scss";

td {
  width: 50px;
  height: 50px;
}

.letter {
  @include itemCenter;
  width: 40px;
  height: 40px;
  border: solid 1px grey;
  border-radius: 3px;
}
